<form ng-submit="login_details()">
    <label>Uname.</label><br>
    <input type="text" ng-model="login.uname">

    <br><br>
    <label>Upwd.</label><br>
    <input type="password" ng-model="login.upwd">


    <br><br>
    <input type="submit">
    <br><br>
    <button class="btn btn-danger" g-login type="button">Login with Gmail</button>&emsp;
    <button class="btn btn-success" linked-in type="button">Login with LinkedIn</button>&emsp;
    <button class="btn btn-primary"  fb-login type="button">Login with FACEBOOK</button>
</form>